// Niri configuration index. Edit the section files below to change settings.
// Paths are relative to this directory. /- comments out the following KDL node.

include "./system.kdl"
include "./input.kdl"
include "./monitors.kdl"
include "./layout.kdl"
include "./animations.kdl"
include "./window-rules.kdl"
include "./layer-rules.kdl"
include "./keybinds.kdl"

// Keep the Noctalia-managed theme last so its colors override layout defaults.
include "./noctalia.kdl"
