layout {

    focus-ring {
        active-color   "#ffb786"
        inactive-color "#18120e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb786"
        inactive-color "#18120e"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ffb786"
        inactive-color "#8e4f1e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb78680"
    }
}

recent-windows {
    highlight {
        active-color "#ffb786"
        urgent-color "#ffb4ab"
    }
}
